* {
    font-family: 'Inter Tight', 'sans-serif';
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 810px;
    margin: 0 auto 10px;
    background-image: url(../img/portfolio-bg.jpg);
    background-size: cover;
}

/* ----- Navbar section ----- */
.navbar-section {
    margin-top: 20px;
    margin-bottom: 12px;
}
.navbar-header {
    background: linear-gradient(to bottom, #245edb 0%, #3f8cf3 9%, #245edb 18%, #245edb 92%, #333 100%);
    color: #fff;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    border: 2px solid #1B44B8;
}
.navbar-header img {
    width: 30px;
    float: right;
}
.navbar {
    display: flex;
    border-left: 2px solid #1B44B8;
    border-right: 2px solid #1B44B8;
    border-bottom: 2px solid #1B44B8;
    background-color: #ece9d8;
}
.navbar a {
    text-decoration: none;
    color: #000;
    padding: 0.5em;
    margin: 2px;
    font-family: Verdana, sans-serif;
    font-size: 15px;
}
.navbar a:hover {
    background-color: #dddacc;
}
.navbar img {
    width: 25px;
    margin: 3px;
}


/* ----- Projects section ----- */
.header {                                        /* General style for headers */
    background: linear-gradient(to bottom, #245edb 0%, #3f8cf3 9%, #245edb 18%, #245edb 92%, #333 100%);
    color: #fff;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    border: 2px solid #1B44B8;
}
.header h4 {
    margin: 2px;
}

.inner {                                         /* General style for inner windows */
    background-color: #ddd;
    border-left: 2px solid #1B44B8;
    border-right: 2px solid #1B44B8;
    border-bottom: 2px solid #1B44B8;
    box-shadow: 5px 8px 8px #0006;
}

/* ----- Project items ----- */
.project {
    display: none;
    flex-direction: column;
    background-color: #ddd;
    padding: 15px;
}
.project.active {
  display: flex;
}
.project h4 {
    margin: 5px;
}
.slider {
    display: flex;
    flex-direction: column;
}
.slider img {
    display: none;
    border-left: 2px solid #1B44B8;
    border-right: 2px solid #1B44B8;
    border-top: 2px solid #1B44B8;
    border-bottom: 2px solid #b8bcc3;
}
.slider img.active {
  display: block;
}

.project p {
    padding: 10px;
}

.language-item {
    display: inline-flex;
    background-color: #fff;
    margin: 0 0 0 3px;
    border-radius: 5px;
}
.language-item svg {
    width: 20px;
    margin: 0 5px 0 5px;
}

.tab.active {
    background-color: #dddacc;
}

/* ----- Options navbar (projects) ----- */
.navbar-division {
    background-color: #b8bcc3;
    width: 2px;
    height: 30px;
    margin-top: 4px;
}
.options-nav {
    display: flex;
    border-left: 2px solid #1B44B8;
    border-right: 2px solid #1B44B8;
    border-bottom: 2px solid #1B44B8;
    background-color: #ece9d8;
}
.options-nav a {
    padding: 0.5em;
    margin: 2px;
    font-family: Verdana, sans-serif;
    font-size: 15px;
}
.options-nav img {
    width: 25px;
    margin: 3px;
    border: none;
}
.options-nav p {
    cursor: pointer;
}

.options-nav p:hover {
    background-color: #dddacc;
}
/* ---------- RESPONSIVE FOR MOBILE ---------- */
@media only screen and (max-width: 769px) {
    body {
        width: 100vw;
    }
    /* ----- Navbar section ----- */
    .navbar-section {
        width: 90vw;
    }

/* ----- Projects section ----- */
    .projects-section {
        width: 90vw;
    }
}